.drawer-menu-container {
  margin-right: 15px;
}

.fab-btn-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.drawer {
  width: 250px;
  background-color: aquamarine;
}

.drawer-container {
  height: 100%;
}

.drawer {
  padding: 16px;
}

.drawer-root {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

.drawer-content {
  height: 100%;
}

.create-fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 80vh;
  z-index: 0;
}
