<mat-toolbar color="primary">
  <div class="drawer-menu-container">
    <button
      mat-icon-button
      color="white"
      (click)="drawer.toggle()"
      aria-label="Drawer Menu Icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  Todo App</mat-toolbar
>
<div class="drawer-root">
  <mat-drawer-container class="drawer-container" [hasBackdrop]="true">
    <mat-drawer #drawer class="drawer" mode="over">Sidenav content</mat-drawer>
    <mat-drawer-content>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Todos"> Todos </mat-tab>
        <mat-tab label="Completed"> Completed </mat-tab>
      </mat-tab-group>
      <div class="create-fab-button">
        <button mat-fab color="warn" aria-label="Create Fab Button">
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<router-outlet></router-outlet>
