<mat-card class="todo-item"
  >{{ todoItem.value }}
  <button
    mat-icon-button
    class="done-btn"
    [style.color]="todoItem.isCompleted ? '#2ECC71' : '#85C1E9'"
    aria-label="Done Todo Button"
    (click)="
      !todoItem.isCompleted
        ? completeTodo(todoItem.id)
        : unCompleteTodo(todoItem.id)
    "
  >
    {{ !todoItem.isCompleted ? "Done" : "Undo" }}
    <mat-icon>check_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    color="warn"
    class="delete-btn"
    aria-label="Delete Todo Button"
    (click)="deleteTodo(todoItem.id)"
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>
