.todo-item {
  width: inherit;
  margin: 16px;
  padding: 16px;
}

.delete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin-left: -10px;
  margin-right: 4px;
  margin-bottom: 8px !important;
}

.done-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin-left: -10px;
  margin-right: 60px;
  margin-bottom: 8px !important;
}

.done {
  color: green;
}
.not-done {
  color: grey;
}
